@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --cor0:#f08910;
    --cor1:#f1f1f1;
    --cor2:#ffffff;
    --cor3:#686767;
    --cor4:#ececec;
    --cor5:#fefefe;
    --cor6:#111111;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Open Sans', sans-serif;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0%;
}
body{
    background-color: var(--cor1);
    font-family: var(--fonte0);   
}

header{
    width: 90%;
    height: 20vh;
    display: flex;
    margin: auto;

}


/* LOGTIPO QRIDEIA*/
.logo{
    width: 17%;
    height: 6vh;
    max-width: 215px;
    position: relative;
    top: 6vh;
    left: 8%;
}
/* MENU*/
nav{
    height: 6vh;
    width: 27vw;
    min-width: 250px;
    display: flex;
    position: relative;
    top: 6vh;
    left: 14%;
    align-items: center;
    justify-content: space-around;
    transition: 0.6s;
}

a{
    position: relative;
    text-decoration: none;
    font-family: var(--fonte1);
    font-size: 15px;
    color: var(--cor3);
    letter-spacing: 0.5px;
    padding: 0 13px;
    transition: 0.5s;

}

a:after{
    content: "";
    position:absolute;
    background-color: var(--cor0);
    height: 2px;
    width: 0;
    left: 15px;
    bottom: -10px;
    transition: 0.4s;
}

a:hover{
    color: var(--cor6);
    font-size: large;
}

a:hover:after{
    width: 70%;
}
/* CONFIGURAÇÃO DA ENTRADA DE USUÁRIO DENTRO DO HEADER */
.user{
    width: 12%;
    max-width: 150px;
    position: relative;
    top: -5vh;
    left: 29%;

}
.user > h3{
    font-family:  var(--fonte1);
}
.user > h4{
    padding-left: 32px;
    color: var(--cor0);
    font-family: var(--fonte1);
    transition: 0.5s;
}

.user > h4:hover{
    font-size: large;
    text-decoration: underline;
}

.user >.img_user{
    position: relative;
    top: 54px;
    left: -52px;
}
/*FAIXA LARANJA*/
.laranja{
    width: 100%;
    height: 25vh;
    background-color: var(--cor0) ;
}

main{
    margin: auto;
    width: 19%;
    position: relative;
    top: -1vh;
}

main h1{
    font-family: var(--fonte1);
    color: var(--cor4);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.438);
    font-size: 4em;
}

/*CONTAINER ONDE O USUÁRIO PODE FAZER SUAS ESCOLHAS NA PÁGINA HOME*/
section{
    width: 90%;
    max-width: 950px;
    height: 100vh;
    background-color: var(--cor2);
    margin: auto;
    margin-top: -65px;
    margin-bottom: 70px;
    clear: left;
}
/*MENSAGEM AO USUÁRIO NA PÁGINA HOME*/
.texto{
    text-align: center;
    padding: 50px;

}
/*OPÇÕES DO USUÁRIO NA HOME*/
.box_escolha{
    width: 90%;
    max-width: 250px;
    height: 36vh;
    background-image: linear-gradient(to top, var(--cor4), var(--cor5));
    border-radius: 10px;
    float: left;
    margin: 0 3% 0 3.5%;
    transition: 0.5s;
}
.box_escolha1{
    width: 90%;
    max-width: 250px;
    height: 36vh;
    background-image: linear-gradient(to top, var(--cor4), var(--cor5));
    border-radius: 10px;
    float: left;
    margin: 0 3% 0 4%;
    transition: 0.5s;
}

.box_escolha > h4{
    text-align: center;
    margin-top: 54px;
}
.box_escolha1 > h4{
    text-align: center;
    margin-top: 54px;
}

.box_escolha > .img_box{
    position: relative;
    left: 80px;
    top: 22px;
}
.box_escolha1 > .img_box{
    position: relative;
    left: 71px;
    top: 30px;
}

.box_escolha:hover{
    width: 253px;
    height: 203px;
}
.box_escolha1:hover{
    width: 253px;
    height: 203px;
}
/* PÁGINA DE EVENTOS - CARROSSEL DE IMAGENS*/
.container{
    width: 90%;
    max-width: 950px;
    height: 100vh;
    background-color: var(--cor2);
    margin: auto;
    margin-top: -65px;
    margin-bottom: 70px;
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.carrossel{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    overflow: hidden;
    max-height: 338px;
    width: 52%;
    position: relative;
}

.feira{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);   
}

.img_car{
    object-fit: cover;
    max-height: 338px;
    width: 100%;
}

/*TABELA NA PÁGINA USUÁRIOS*/
.tabela{
    width: 90%;
    max-width: 950px;
    height: 100vh;
    background-color: var(--cor2);
    margin: auto;
    margin-top: -65px;
    margin-bottom: 70px;
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cab, th, td{
    padding: 2% 6%;
    width: 20%;
    height: 5vh;
}

.tbl{
    margin: 5%;
}

.dados{
    background-color:var(--cor3);
    color: var(--cor4);
    transition: 0.5s;
}
.dados1{
    background-color: var(--cor4);
    color: var(--cor3);
    transition: 0.5s;
}

th{
    background-color: var(--cor0);
    color: var(--cor3);
}

.dados1:hover{
    font-size: large;
}

.dados:hover{
    font-size: large;
}

/*RODAPÉ*/
footer{
    background-color:var(--cor6) ;
    text-align: center;
    max-height: 60px;
    width: 100%;
}
.rodape{
    padding: 10px 0 10px 0;
    color: var(--cor3);
}

.ideia{
    color: var(--cor0);
}

/*RESPONSIVIDADE*/
@media(max-width: 700px){
    header{
        height: 25vh;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -1vh;
        left: 0%;
    }

    .logo{
        width: 34%;
        position: relative;
        top: 3vh;
        left: 10%;
    }

    nav{
        height: 6vh;
        width: 27vw;
        min-width: 250px;
        display: flex;
        position: relative;
        top: 4vh;
        left: 15%;
        align-items: center;
        justify-content: space-around;
        transition: 0.6s;
    }

    .user{
        width: 50%;
        max-width: 150px;
        position: relative;
        top: -1vh;
        left: 22%;
    }

    section{
        width: 90%;
        max-width: 950px;
        height: 1203px;
        margin: auto;
        margin-top: -65px;
        margin-bottom: 70px;
        clear: left;
    }

    .box_escolha1{
        margin: auto;
        position: relative;
        left: 14%;
    }

    .box_escolha{
        margin: auto;
        position: relative;
        left: 14%;
    }main{
        margin: auto;
        width: 70%;
        position: relative;
        top: -1vh;
    };
    .carrossel{
        height: 80vh;
        width: 80%;
    }

    .tabela{
        width: 90%;
        max-width: 950px;
        height: 300px;
        margin: auto;
        margin-top: -65px;
        margin-bottom: 50px;
    }

    .dados{
        width: 35%;
        font-size: 12px;
        text-align: center;
    }
    .dados1{
        width: 35%;
        font-size: 12px;
        text-align: center;
    }
    th{
        width: 35%;
        text-align: center;
        font-size: 12px;
    }

}